<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <ScriptRunner.Properties.Settings>
            <setting name="SHOW_DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_PATH" serializeAs="String">
                <value>C:\Temp\%CUSTOMER_ID%.log.txt</value>
            </setting>
            <setting name="FORM_TITLE" serializeAs="String">
                <value>Powershell Script Runner</value>
            </setting>
            <setting name="LOGO_PATH" serializeAs="String">
                <value>logo-placeholder.png</value>
            </setting>
            <setting name="SPLITTER_ORIENTATION" serializeAs="String">
                <value>Horizontal</value>
            </setting>
        </ScriptRunner.Properties.Settings>
    </applicationSettings>
</configuration>
